body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.header {
    position: relative;
    width: 60%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.meme {
    position: relative;
    width: 60%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    /* CSS rules specific to mobile devices */
    body {
        font-size: 14px;
        padding: 10px;
    }

}




