body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.header {
    position: relative;
    width: 60%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.meme {
    position: relative;
    width: 60%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Apply different styles for smaller screens (e.g., mobile devices)
@media (max-width: 768px) {
    .meme {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
*/


